//================= Liquido CSS

.liquido_title {
  font-size: 20pt !important;
}

.rounded-photo {
  border-radius: 50%;
  width: 30px;
  height: 30px;
  vertical-align: middle;
}

.nomargin {
  margin: 0;
  padding: 0;
}

/***** list of new messages (popup at the top right) *****/

.messages_popup .webix_list_item {
  line-height: 110%;
  white-space: normal;
  padding-top: 5px;
  p {
    margin: 0;
	overflow: hidden;
  }
}


/***** ideas table *****/

.supportedByColumn>div {
  padding: 0 3px;
}


.ownIdea {
  /*
  color: #0A0;
  display:inline-block;
  line-height: 120%;
  width: 35px;
  */
  text-align:center;
  cursor: default;
}

.alreadySupported {
  color: #0A0;
  background: #DFD;
  border: 1px solid #AFA;
  border-radius: 3px;
  display:inline-block;
  line-height: 120%;
  width: 30px;
  text-align:center;
  cursor: default;
}

.addSupporterButton {
  background: #DDD;
  border: 1px solid #BBB;
  border-radius: 3px;
  display:inline-block;
  line-height: 120%;
  width: 30px;
  text-align:center;
  cursor: pointer;
}

.addSupporterButton:hover {
  background: #DED;
}



/***** list of recent ideas *****/

.ideaTitle {
  font-weight: bold;
  line-height: 100%;
  margin-bottom: 5px;
  margin-top: 5px;
}

.ideaDescription {
  font-size: 10pt;
  line-height: 110%;
}


.recentIdeasTable .webix_cell {
  line-height: 100% !important;
  white-space: normal;
}

.recentIdeasTable .webix_last .webix_cell {
  padding: 0;
}

.recentIdeasTable .ideaCellRight {
  background: #DDD;
  font-size: 9pt;
  line-height: 100%;
  height: 100%;
  padding: 2px 5px;
  white-space: nowrap;
  p {
    margin: 3px 0;
  }
}

.fadeoutWrapper {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.ideaDetailsIcon {
  display: inline-block;
  width: 16px;
}

// https://stackoverflow.com/questions/11837606/fading-out-text-at-bottom-of-a-section-with-transparent-div-but-height-stays-un
.fadeoutAtBottom {
    position: absolute; 
    //border: 1px solid red;
    left: 0;
    right: 0;
    bottom: 0;
    height: 20%;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 60%,
        rgba(255, 255, 255, 1) 100%
    );
} 




